.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.productCard {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.productName {
  font-size: large;
  font-weight: bolder;
}

.productCategory {
  font-style: italic;
  font-weight: 200;
}

.productDesc {
  padding-top: 10px;
}

.productAllergens {
  padding-top: 5px;
  color: red;
}

.price {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}

.addToCartBtn,
.addProductBtn,
.deleteProductBtn,
.updateProductBtn {
  background-color: #8b4513;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 10px;
}

.addToCartBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.addProductBtn {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #8b4513;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.deleteProductBtn {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #8b4513;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.updateProductBtn {
  position: absolute;
  top: 90px;
  right: 10px;
  background-color: #8b4513;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
